.filter-main {
    height: 200px;
    width: 100%;
    background-color: lightblue;
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter-btn {
    height: 200px;
    width: 80%;
    /* border: 2px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

button {
    background: #fff;
    border: none;
    padding: 10px 20px;
    display: inline-block;
    font-size: 25px;
    font-weight: 600;
    width: 200pxpx;
    text-transform: uppercase;
    cursor: pointer;
    transform: skew(-21deg);
  }
  
  span {
    display: inline-block;
    transform: skew(21deg);
  }
  
  button::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 100%;
    left: 0;
    background: rgb(20, 20, 20);
    opacity: 0;
    z-index: -1;
    transition: all 0.5s;
  }
  
  button:hover {
    color: #fff;
  }
  
  button:hover::before {
    left: 0;
    right: 0;
    opacity: 1;
  }
.paran{
    font-size: 14px;
}

@media (max-width: 768px) {
    .filter-main {
        height: 500px;
       
    }

    .filter-btn {
        margin-bottom: 100px;
        padding-bottom: 100px;
    }
}